In [220]:
import numpy as np
import pandas as pd
import json
import matplotlib.pyplot as plt
%matplotlib inline

import re
import datetime
from datetime import date
from time import strptime

from sklearn.metrics.pairwise import cosine_similarity

In [221]:
resume = pd.read_csv('con_resume_new.csv')
resume

,index,Resume_title,City,location,Description,work_experiences,Educations,Skills,Links,Certificates,...,vec_11,vec_12,vec_13,vec_14,vec_15,vec_16,vec_17,vec_18,vec_19,vec_20
0,0,java developer,Tirur,17,"to prove myself dedicated, worthy and energeti...","{0: [{'wtitle:': 'java developer'}, {'wcompany...","{0: [{'e_title:': ""Bachelor's in Bachelor of C...","['java (less than 1 year)', ' jsp (less than 1...",['https://www.linkedin.com/in/mohamed-rihan-k-...,"{0: [{'c_title:': 'Java Developer'}, {'c_durat...",...,0.627632,0.089689,-0.111594,1.014081,-0.707130,2.206325,1.291158,-2.374027,-2.633807,0.261690
1,1,software developer,Bengaluru,16,working as software developer at ingroinfo sof...,"{0: [{'wtitle:': 'java developer'}, {'wcompany...",{0: [{'e_title:': 'MCA in Master of Computer A...,"['programming languages: core java', ' j2ee \n...","['http://github.com/NK-PATEL/Train_Project', '...",{},...,1.298089,-1.820087,0.641809,1.595022,0.220402,2.217785,1.296798,-3.018250,-0.151164,0.136133
2,2,java developer,Pune,20,looking for a challenging career which demands...,"{0: [{'wtitle:': 'java developer'}, {'wcompany...","{0: [{'e_title:': ""Bachelor's in Electrical En...","['eclipse (1 year)', ' hibernate', ' spring (l...",[],{},...,0.384623,-0.568103,0.826093,2.393889,-1.064451,1.030747,0.353574,-3.061998,-0.833136,-0.068226
3,3,seeking innovative and challenging career assi...,Pune,20,,"{0: [{'wtitle:': 'java developer'}, {'wcompany...","{0: [{'e_title:': 'BE in Computer'}, {'e_schoo...","['git', ' angular 7', ' maven', ' java', ' jen...",[],{},...,0.417915,0.095836,1.848977,3.456673,0.356767,0.857549,0.558279,-1.897944,1.307907,0.257135
4,4,java developer,Pune,20,,"{0: [{'wtitle:': 'java developer'}, {'wcompany...",{0: [{'e_title:': 'Bachelor of Engineering in ...,['project: hr payroll systems role: java devel...,[],{},...,0.623490,0.386077,0.589289,0.850651,0.208881,0.040734,0.398515,-1.063902,0.791835,-0.788968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14793,14793,back office operations & hr coordinator,Calicut,17,management professional seeking a full-time po...,{0: [{'wtitle:': 'project administration & pay...,"{0: [{'e_title:': 'MBA in MARKETING & HR'}, {'...","['ms office (9 years)', ' aconex project manag...",['http://www.linkedin.com/in/akhil-ravi-1512b6...,{0: [{'c_title:': 'ISO 9001:2018 QMS INTERNAL ...,...,-1.225228,0.623468,1.519127,-2.141248,-0.015091,-1.274672,0.954937,-0.933894,-2.146171,-1.138999
14794,14794,accountant,NONE,1,,"{0: [{'wtitle:': 'accountant'}, {'wcompany:': ...","{0: [{'e_title:': 'B.COM'}, {'e_schoolname:': ...",['none'],[],{},...,1.618273,-0.817635,3.292342,2.645989,0.444203,0.639092,4.602364,1.241786,0.226669,-3.638067
14795,14795,administrative works,Durgapur,33,to be potential resource to the organization w...,"{0: [{'wtitle:': 'administrative works'}, {'wc...","{0: [{'e_title:': 'CERTIFICATE'}, {'e_schoolna...","['accounting', ' erp', ' tally', ' payroll', '...",[],{},...,0.545458,0.436615,1.616948,-0.838634,0.594995,-1.302586,1.629356,-1.063577,-4.029328,-1.916744
14796,14796,assistant manger,NONE,1,a finance professional with close to 6 years o...,"{0: [{'wtitle:': 'assistant manger'}, {'wcompa...",{0: [{'e_title:': 'Bachelor of Commerce in Com...,"['erp (2 years)', ' tally (5 years)', ' ms off...",[],{},...,0.844700,0.081582,3.462111,2.944820,1.252886,-0.107691,3.416371,-0.163835,0.789498,-2.659943
14797,14797,commercial officer,Howrah,33,age: 32 years \ngender: male \nfunctional area...,"{0: [{'wtitle:': 'commercial officer'}, {'wcom...","{0: [{'e_title:': 'B.Com in Accountancy'}, {'e...","['accounting', ' ecommerce', ' management acco...",[],{},...,0.305912,-0.524823,1.410033,-1.077668,-0.468093,0.250036,0.266370,1.597211,-2.408836,-2.647079

In [222]:
job = pd.read_csv('con_job_new.csv')

In [223]:
def jobs_recommender(r) :
    
    #job features need to be matched with resume
    # job_m = related_jobs[['j_id','vec_1','vec_2','vec_3','vec_4','vec_5','vec_6','vec_7','vec_8','vec_9','vec_10','vec_11','vec_12',
    #           'vec_13','vec_14','vec_15','vec_16','vec_17','vec_18','vec_19','vec_20']]

    #Store the results in this DF
    matched_jobs = pd.DataFrame(columns = ["id","company","job_title","jobdescription","experience_range","is_grad","similarity"] )
    
    r= r.to_numpy()
    r= r.reshape(1, -1)
    # job_m.to_numpy()
    #Go through ALL the related jobs
    for i,j in enumerate(job_m) :
        # print(f'jd is {jd}')        
        #Find the similarity of the jobs with resume
        jobs = j
        jd=i
        # print(jd)
        # jobs = jobs.to_numpy()
        jobs = jobs.reshape(1, -1)
        #print(f'job is {jobs}')
        #print(f'r is {r}')
        #print(f'job is {job}')
        similarity = cosine_similarity(r,jobs)
        # print(123)
        #print(f'similarity is {similarity}')
        matched_jobs.loc[len(matched_jobs)] = [jd,
                                               related_jobs[jd][1],
                                               related_jobs[jd][6],
                                               related_jobs[jd][5],
                                               related_jobs[jd][10],
                                               related_jobs[jd][12],
                                               similarity[0][0]]
        
    return matched_jobs.sort_values(by=['similarity'],ascending=False)[1:].iloc[:, :-1]

In [224]:
x=14
columns = ['vec_' + str(i) for i in range(1, 21)]

# Extract columns from row 13 (label 12)
resume_vector=resume.loc[x, columns]
resume_title=resume.loc[x,'Resume_title']
resume_vector=resume.values
resume_title

'java developer'

In [225]:
# vectors=pd.read_csv('modified_resume_vectors.csv')

In [226]:
r_df = resume[['index','experience_range','is_grad','is_postgrad','is_doc','vec_1','vec_2','vec_3','vec_4','vec_5','vec_6','vec_7','vec_8','vec_9','vec_10','vec_11','vec_12',
              'vec_13','vec_14','vec_15','vec_16','vec_17','vec_18','vec_19','vec_20']]

In [227]:
r1= r_df.loc[1]
r1

index               1.000000
experience_range    1.000000
is_grad             1.000000
is_postgrad         1.000000
is_doc              0.000000
vec_1              -2.499004
vec_2               0.200497
vec_3              -0.794383
vec_4               0.931614
vec_5              -2.418982
vec_6              -3.106181
vec_7               0.424919
vec_8               1.302060
vec_9              -2.168684
vec_10              0.911881
vec_11              1.298089
vec_12             -1.820087
vec_13              0.641809
vec_14              1.595022
vec_15              0.220402
vec_16              2.217785
vec_17              1.296798
vec_18             -3.018250
vec_19             -0.151164
vec_20              0.136133
Name: 1, dtype: float64

In [228]:

unique_title = job['jobtitle'].unique().tolist()
unique_title.sort()
from fuzzywuzzy import process, fuzz
title_score_sort = [(resume_title,) + i 
             for i in process.extract(resume_title, unique_title, scorer=fuzz.token_sort_ratio,limit=10)]
#Create a dataframe from the tuples
title_similarity_sort = pd.DataFrame(title_score_sort, columns=['title_original','title_checked','title_score_sort'])

titles_to_check = title_similarity_sort['title_checked'].str.lower().unique()
filtered_job = job[job['jobtitle'].str.lower().isin(titles_to_check)]

In [229]:
columns = ['vec_' + str(i) for i in range(1, 21)]
filtered_vectors = filtered_job.loc[:, columns]
# filtered_job[filtered_job['location']=="maharashtra"]

In [230]:
related_jobs = filtered_job
job_m = related_jobs[['j_id','experience_range','is_grad','is_postgrad','is_doc','vec_1','vec_2','vec_3','vec_4','vec_5','vec_6','vec_7','vec_8','vec_9','vec_10','vec_11','vec_12',
              'vec_13','vec_14','vec_15','vec_16','vec_17','vec_18','vec_19','vec_20']]
job_m=job_m.to_numpy()
job_m
related_jobs=related_jobs.to_numpy()
related_jobs[0][0]

54

In [231]:
matched_jobs = jobs_recommender(r1)
matched_jobs = matched_jobs.head(20)

In [232]:
display(matched_jobs)

,id,company,job_title,jobdescription,experience_range,is_grad
4,4,Kinesis Management Consultant Pvt. Ltd,java developers,Job Description Send me Jobs like this Core ...,1,1.0
0,0,Kinesis Management Consultant Pvt. Ltd,java developers,Job Description Send me Jobs like this Core ...,1,1.0
1,1,Kinesis Management Consultant Pvt. Ltd,java developers,Job Description Send me Jobs like this Core ...,1,1.0
2,2,Kinesis Management Consultant Pvt. Ltd,java developers,Job Description Send me Jobs like this Core ...,1,1.0
3,3,Kinesis Management Consultant Pvt. Ltd,java developers,Job Description Send me Jobs like this Core ...,1,1.0
6,6,Confidential,sr.java developer,Job Description Send me Jobs like this 3 - 5...,1,1.0
10,10,Technosoft Global Services Pvt Ltd,java developer,Job Description Send me Jobs like this 5+ ye...,1,1.0
8,8,executive-teams.com,java developers,Job Description Send me Jobs like this knowl...,0,1.0
9,9,executive-teams.com,java developers,Job Description Send me Jobs like this knowl...,0,1.0
7,7,executive-teams.com,java developers,Job Description Send me Jobs like this knowl...,0,1.0
13,13,TQuanta Technologies Pvt. Ltd.,java developer,Job Description Send me Jobs like this compa...,1,1.0
11,11,Melstar Information Technologies Ltd,java developer,Job Description Send me Jobs like this Job D...,1,1.0
12,12,Melstar Information Technologies Ltd,java developer,Job Description Send me Jobs like this Job D...,1,1.0
19,19,Exadata Consulting Pvt Ltd,java developers,Job Description Send me Jobs like this Job D...,1,1.0
15,15,RA Info,java developer,Job Description Send me Jobs like this Job D...,1,1.0
14,14,Ankit Bhatnagar Consultant,java developer,Job Description Send me Jobs like this java ...,0,1.0
24,24,Unitforce technologies Pvt. Ltd.,java developer,Job Description Send me Jobs like this J2EE ...,1,1.0
22,22,Unitforce technologies Pvt. Ltd.,java developer,Job Description Send me Jobs like this J2EE ...,1,1.0
23,23,Unitforce technologies Pvt. Ltd.,java developer,Job Description Send me Jobs like this J2EE ...,1,1.0
25,25,Clematis Technology Solutions India Pvt Ltd,java developer,Job Description Send me Jobs like this Job D...,1,1.0